body {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.dark-mode {
  background-color: #2C2C2EFF;
  color: #fff;
  transition: 0.33s;
}
canvas {
  margin-top: 50px;
  margin-left: 150px;
  border: 0.5px solid rgba(148, 148, 148, 0.219);
}
.parent {
  margin-top: 20px;
}
.child {
  display: flex;
  margin-bottom: 40px;
  height: 40px;
}
.child p {
  margin-top: 5px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
div.child1 {
  display: flex;
  margin-right: 150px;
}
div.child2 {
  display: flex;
  margin-top: 50px;
}
div.child3 {
  display: flex;
  margin-top: 50px;
}
div.child4 {
  display: flex;
  margin-top: 50px;
}
div.child5 {
  display: flex;
  margin-top: 50px;
}
div.child6 {
  display: flex;
  margin-top: 50px;
}
div.paragraphs {
  display: flex;
  flex-direction: column;
}
p.title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
p.description {
  margin-top: 0px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
p.info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 3px;
  margin-left: 20px;
}
.bombButton {
  height: 60px;
  width: 60px;
  background-color: #000000;
  border-radius: 0px;
  border: 0px;
  transition: 0.2s;
}
.bombButton:active {
  background-color: darkgrey;
}
.canvas {
  height: 0px;
  width: 0px;
}

.season {
  height: 35px;
  width: 60px;
  background-color: #666666;
  margin-bottom: 20px;
  border: 0px;
  border-radius: 1px;
}
.season:active {
  transition: 0.2s;
  background-color: rgb(165, 165, 165);
}
img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
}
